.courses {
  background-color: var(--gray);
  padding-block: 3rem;

  -webkit-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.32);
  -moz-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.32);
  box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.32);
}

.courses .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-inline: auto;
}

.courses article {
  text-align: center;
  color: var(--blue);
}

.courses article h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.courses article p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}


/* cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image {
  background-color: var(--red);
  border-radius: 999px;

  width: 12rem;
  height: 12rem;

  margin-top: -50%;
  transform: translateY(30%);

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 11px 14px 20px -3px rgba(0,0,0,0.3);
  -moz-box-shadow: 11px 14px 20px -3px rgba(0,0,0,0.3);
  box-shadow: 11px 14px 20px -3px rgba(0,0,0,0.3);
}

.image svg {
  height: 6.5rem;
  fill: #ffffff;
}

.card {
  margin-top: 6rem;

  text-align: center;
  background-color: var(--blue);
  max-width: 17.5rem;
  padding-bottom: 1.5rem;

  border-radius: 10px;

  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}

.card h3 {
  margin-top: 2rem;
}

.card p {
  width: 80%;
}

.card p + p {
  margin-top: 1rem;
}

.card:nth-child(even) {
  background-color: #00297c;
}

@media (width <= 400px) {
  .courses article h2 {
    font-size: 2rem;
  }
}