*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #B92742;
  --blue: #021F59
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  line-height: 1.2;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 75rem;
  padding-inline: 1rem;
}