.header-container {
  background-image: url("../assets/banner.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container section {
  width: 100%;
  height: 100vh;

  margin-inline: auto;
  padding-inline: 1rem;
}

.header-container section div {
  margin-inline: auto;
  margin-bottom: 5rem;
  padding-top: 2rem;
  width: 12rem;
}

.header-container section nav {
  background-color: var(--red);

  width: 100%;
  max-width: 28rem;
  margin-right: auto;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1rem;

  padding: 1.5rem 1rem 4rem;

  position: relative;

  -webkit-box-shadow: 4px 3px 12px -7px rgba(0,0,0,1);
  -moz-box-shadow: 4px 3px 12px -7px rgba(0,0,0,1);
  box-shadow: 4px 3px 12px -7px rgba(0,0,0,1);
}

.header-container h1 {
  font-size: 2rem;
}

.header-container p {
  font-size: 1rem;
  font-weight: 400;
}

.header-container a {
  background-color: var(--blue);
  color: #ffffff;

  width: max-content;
  padding: 1rem 3rem;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;

  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  /* margin-inline: 100; */

  -webkit-box-shadow: 4px 3px 12px -7px rgba(0,0,0,1);
  -moz-box-shadow: 4px 3px 12px -7px rgba(0,0,0,1);
  box-shadow: 4px 3px 12px -7px rgba(0,0,0,1);

  transition: all 0.1s ease-in-out;
}

.header-container a:hover {
  background-color: #032872;
}

@media (width <= 624px) {
  .header-container section div {
    margin-bottom: 2.5rem;
  }

  .header-container h1 {
    font-size: 1.7rem;
  }
  
  .header-container p {
    font-size: .8rem;
    font-weight: 300;
  }
}