.open {
  background-color: var(--red);
  padding-block: 4.5rem;

  -webkit-box-shadow: inset 0px 0px 79px -41px rgba(0,0,0,0.47);
  -moz-box-shadow: inset 0px 0px 79px -41px rgba(0,0,0,0.47);
  box-shadow: inset 0px 0px 79px -41px rgba(0,0,0,0.47);
}

.open .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-inline: auto;
}

.open h2 {
  color: #ffffff;
  font-size: 2rem;

  margin-bottom: 1rem;
}

.open p {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;

  margin-bottom: 2rem;
}

.open a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  background-color: var(--blue);

  padding: 0.875rem 3rem;
  border-radius: 999rem;

  transition: all 0.1s ease-in-out;
}

.open a:hover {
  background-color: #032872;
  transform: scale(1.1);
}